.typeahead-dropdown {
  position: absolute;
  background: rgb(235, 229, 229);
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 0.95rem;
  top: calc(100% + 4px); /* slight gap below input */
  border-radius: 0 0 4px 4px
}

.typeahead-dropdown li {
  padding: 8px 12px;
  
  cursor: pointer;
  transition: background 0.2s ease;
}

.typeahead-dropdown li:hover {
  background: #cbc8c5;


}
.typeahead-item.active {
  background-color: #fcfbfb;
  font-weight: bold;

}

.typeahead-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */  
}

.typeahead-container input {
  width: 100%; /* instead of 30% */
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.typeahead-container input:focus {
  border-color: #ffcc00;
  outline: none;
}